
body {
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: #fff;
     }
 ul, ol {
    list-style-type: none;
     }
     a {
        text-decoration: none;
     }
     h1, h2, h3, h4, h5, h6, p, ul, ol, li {
        margin: 0;
        padding: 0;
     }
         .header .logo-part,
         .nav-link,
         .advantages-title-secondary,
         .team-title,
         .team-title-secondary,
         .portfolio-title,
         .portfolio-title-secondary {
             color: #2e2f42;
         }
         .conteiner {
            max-width: 1128px;
            margin: 0 auto;
         }
     /* Header start */
     .page-header {
       
     }
         .header-style {
            display: flex;
            text-align: center;
            padding-top: 24px;
            padding-bottom: 24px;
           
                 }
         .header-nav {
            display:flex ;
            justify-content:space-between;
            
         }
        

     .logo {
     font-family: "Raleway", sans-serif;
     font-weight: 700;
     font-size: 18px;
     line-height: 1.17;
     letter-spacing: 0.03em;
     text-transform: uppercase;
     color: #4d5ae5;
     
           }
    .nav-list {
            display: flex;
            padding-left: 76px;
            gap: 40px;
           }
   
    .nav-link {
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        
    }
    .nav-link:hover,
    .nav-link:focus,
    .contacts-link:hover,
    .contacts-link:focus {
        color: #404bbf;
    }
    .contacts {
        font-style: normal;
        margin-left: auto;
    }
.contacts-list {
     display: flex;
     justify-items: end;
    gap: 40px;
   
}
.contacts-link {
line-height: 1.5;
font-size: 16px;
letter-spacing: 0.02em;
color: #434455;
}
/* Header end */

/* Hero-baner start */
.hero-baner,
.footer {
    background-color: #2e2f42;
}
.hero-baner {
    margin-bottom: 120px;
}
.hero-baner-style {
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
.hero-baner-title{
font-weight: 700;
font-size: 56px;
line-height: 1.07;
letter-spacing: 0.02em;
text-align: center;
color: #fff;
max-width: 496px;
padding-top: 188px;
padding-bottom: 48px;
}
.hero-baner-button {
border-radius: 4px;
font-weight: 500;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.04em;
color: #fff;
background-color: #4d5ae5;
cursor: pointer;
max-width: 169px;
margin-bottom: 188px;
box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);

}
.hero-baner-button:hover,
.hero-baner-button:focus{
background-color:  #404bbf;

}
/* advantages section start */

.advantages-title {}

.advantages-list {
    display: flex;
    justify-content: space-around;
    margin-bottom: 120px;
}

.advantages-item {}

.advantages-title-secondary {
        font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
        letter-spacing: 0.02em;
}

.advantages-text {
        font-size: 16px;
        letter-spacing: 0.02em;
        line-height: 1.5;}

/* advantages section end */

 /* Team start */
 .team {background-color: #f4f4fd;
    margin-bottom: 120px;
    padding-bottom: 120px;
   
 }

 .team-title {
   text-transform: capitalize;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    padding-top: 120px;
    padding-bottom: 72px;
}

 .team-list {
background-color: #fff;
border-radius: 0 0 4px 4px;
display: flex;
gap: 24px;
max-width: 264px;
box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
 }

 .team-items {background-color: #ffffff;}

 .team-img {}

 .team-title-secondary {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    text-align: center;
    }

 .team-text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
    } 

 /* Team end */
 /* Portfolio start */
 .portfolio {}

 .portfolio-title {
    text-transform: capitalize;
        font-weight: 700;
        font-size: 36px;
        line-height: 1.11;
        letter-spacing: 0.02em;
        text-align: center;
 }

 .portfolio-items {}

 .portfolio-img {}

 .portfolio-title-secondary {
        font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
        letter-spacing: 0.02em;
 }

 .portfolio-text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;}
 /* Portfolio end */
 /* Footer star */

    .footer .logo-part {
        color: #f4f4fd;
    }

    .foter-text {
        font-size: 16px;
        letter-spacing: 0.02em;
        line-height: 1.5;
        color:#f4f4fd;}
 /* Footer end */